body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #A30000;

}

#content {
  	background-color: #FFFFF0;
  	width: 700px ;
 	margin-left: auto ;
  	margin-right: auto ;
  	padding: 2% 5% 5% 5%;
	border-radius:25px;
	box-shadow: 5px 5px 2px #333;
}

#head {
	margin-bottom: 3%;
	font-size: 150%;
	font-style: italic;
	text-shadow: 2px 2px #D3E4F5;
	font-weight:bold;
}

ul {
    list-style-type: none;
}

a:link {
	text-decoration:none ;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #A30000;
}

table {
	width: 100%;
}

#tdIcon {
	text-align: center;
}

#date {
	font-size: 80%;
}

