﻿{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<link href="{% static "css/style.css" %}" rel="stylesheet"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body style="background-image:url('{% static "img/stripe.png" %}')";>
		<div id="content">
			<div id="head">
				Keep it simple - Admin
			</div>
			<table>
			  	<thead>
			    	<tr>
			      		<th>Entries</th>
			   		</tr>
			  	</thead>
			  	<tbody>
			  	{% for Entry in entries %}
					<tr>
				      	<td>{{ Entry.title }}</td>
				      	<td id="tdIcon"><a href="/edit/{{ Entry.titleUrl }}"><img src="{% static "img/edit.png" %}"></a></td>
				      	<td id="tdIcon"><a href="/delete/{{ Entry.titleUrl }}"><img src="{% static "img/delete.png" %}"></a></td>
				    </tr>
				{% endfor %}
					<tr>
			      		<td><a href="/new"><img src="{% static "img/add.png" %}"></a></td>
			   		</tr>
   				</tbody>
			</table>
		</div>

	</body>
</html>