{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<link href="{% static "css/style.css" %}" rel="stylesheet"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body style="background-image:url('{% static "img/stripe.png" %}')";>
		<div id="content">
			<div id="head">
				<h1>Keep it simple</h1>
				Easy implementation of a blog in Django
			</div>
		{% for Entry in entries %}
			<br>
			<hr>
			<div id="article">
				<h1>{{ Entry.title }}</h1>
				{{ Entry.text }}
				<div id="date">{{ Entry.pub_date }}</div>
			</div>
		{% endfor %}
		</div>

	</body>
</html>