{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<link href="{% static "css/style.css" %}" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body style="background-image:url('{% static "img/stripe.png" %}')";>
		<div id="content">
			<div id="head">
				Keep it simple - Admin
			</div>
			{% if Entry %}
			<form action="/save/{{ Entry.titleUrl }}" method="post" id="blogform">
			{% csrf_token %}
		    Title: 
		    <br>
		    <input type="text" name="title" value="{{ Entry.title }}">
			<br>
		    Text:
		    <br>
			<textarea rows="4" cols="50" name="text" form="blogform">{{ Entry.text }}</textarea>
			<br>
			<input type="submit" value="Submit" />
			</form>

			{% else %}
			<form action="/savenew/" method="post" id="blogform">
			{% csrf_token %}
		    Title: 
		    <br>
		    <input type="text" name="title">
			<br>
		    Text:
		    <br>
			<textarea rows="4" cols="50" name="text" form="blogform"></textarea>
			<br>
			<input type="submit" value="Submit" />
			</form>
			{% endif %}
		</div>

	</body>
</html>